* {
 box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-jobs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  width: 655px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  -webkit-box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 2rem;
  margin-top: 16px;
}

.Loader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.List {
  margin-top: 16px;
}

.ListItemEven,
.ListItemOdd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ListItemEven {
  background-color: #ffffff;
}

